.generate-exam-page {
    width: 100%;
    padding: 24px 24px 48px;
}

.generate-exam-back-button {
    background-color: #ffffff;
    border-radius: 15px;
    margin-bottom: 12px;
}

.generate-exam-back-button:hover {
    background-color: #d0e9ff;
}

.generate-exam-page-header {
    margin-bottom: 24px;
}

.generate-exam-page-title {
    margin: 0 0 4px !important;
}

.generate-exam-page-form {
    width: 100%;
    margin-bottom: 16px;
}

.generate-exam-page-content {
    width: 100%;
}